@import './components/container';

.not-found {
  padding-top: 200px;
  @include flex-container(column, center, center);

  h1 {
    font-size: 22px;
  }

  h3 {
    margin-top: 5px;
  }

  h3 a {
    color: #454545;
  }

  span {
    margin-top: 40px;
    font-size: 14px;
  }

  span a {
    font-weight: 600;
    color: #454545;
  }
}
